################################################################################
syntax: glob

.directory
*.orig
*.rej
*~
.git/
.git-rewrite/
sql/world.sql
*.bak
build/
################################################################################
syntax: regexp
